.btn-artista-azul {
    position: relative;
    display: inline-block;
    padding: 10px 20px; 
    font-size: 14px; 
    font-weight: 600;
    color: white;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(90deg, #0825df, #051627);
    border: none;
    border-radius: 5px; 
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  .btn-artista-azul:hover {
    transform: translateY(-3px); 
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1); 
  }

  .btn-artista-rojo {
    position: relative;
    display: inline-block;
    padding: 10px 20px; 
    font-size: 14px; 
    font-weight: 600;
    color: white;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(90deg, #f70505, #600803);
    border: none;
    border-radius: 5px; 
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  .btn-artista-rojo:hover {
    transform: translateY(-3px); 
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1); 
  }