{% extends "base/base_dashboard.html" %}
{% load static %}

{% block title %}Configuración de Límites{% endblock %}

{% block dashboard_content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Límite de Consumo Mensual</h6>
            </div>
            <div class="card-body">
                <p>Establece un límite total de litros por mes para tu cuenta.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ limite_mensual_form.as_p }}
                    <button type="submit" name="submit_limite_mensual" class="btn btn-primary">Guardar Límite Mensual</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Límites de Flujo por Sensor</h6>
            </div>
            <div class="card-body">
                <p>Establece el límite de flujo (Litros/minuto) para disparar la alerta de "Tubería Rota" en cada sensor.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ dispositivo_formset.management_form }}

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sensor (ID)</th>
                                <th>Límite de Flujo (L/min)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in dispositivo_formset %}
                            <tr>
                                <td>{{ form.nombre.label_tag }} {{ form.nombre }}</td>
                                <td>{{ form.limite_flujo_excesivo.label_tag }} {{ form.limite_flujo_excesivo }}</td>
                                {{ form.id }} </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <button type="submit" name="submit_limites_dispositivos" class="btn btn-primary">Guardar Límites de Sensores</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}